aiohttp==3.8.3
aiosignal==1.2.0
anyio==3.6.2
async-timeout==4.0.2
attrs==22.1.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
decorator==5.1.1
fastapi==0.85.2
fastapi-gateway==0.0.3
frozenlist==1.3.1
h11==0.14.0
idna==3.4
loguru==0.6.0
multidict==6.0.2
pydantic==1.10.2
requests==2.28.1
sniffio==1.3.0
starlette==0.20.4
typing_extensions==4.4.0
ujson==5.5.0
urllib3==1.26.12
uvicorn==0.19.0
validators==0.20.0
yarl==1.8.1

git+https://gitlab+deploy-token-14:GfUTCDAee9GvVPxs3FqG@git.iszf.irk.ru/microservices-kalinka-george/openapi3-parser.git